/ {

    macros {
        cycle_lang_de: cycle_lang_de {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to 0>,
                  <&kp CAPS>;
        };

        cycle_lang_ru: cycle_lang_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to 1>,
                  <&kp CAPS>;
        };

        cycle_lang_en: cycle_lang_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&to 2>,
                  <&kp CAPS>;
        };

        altgr_q_for_at: macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk RALT &kp Q>;
        };

        altgr_MINUS: altgr_MINUS {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk RALT &kp MINUS>;
        };

        sh_kp_A: macroSA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp A>;
        };
        sh_kp_B: macroSB {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp B>;
        };
        sh_kp_C: macroSC {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp C>;
        };
        sh_kp_D: macroSD {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp D>;
        };
        sh_kp_E: macroSE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp E>;
        };
        sh_kp_F: macroSF {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp F>;
        };
        sh_kp_G: macroSG {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp G>;
        };
        sh_kp_H: macroSH {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp H>;
        };
        sh_kp_I: macroSI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp I>;
        };
        sh_kp_J: macroSJ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp J>;
        };
        sh_kp_K: macroSK {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp K>;
        };
        sh_kp_L: macroSL {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp L>;
        };
        sh_kp_M: macroSM {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp M>;
        };
        sh_kp_N: macroSN {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp N>;
        };
        sh_kp_O: macroSO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp O>;
        };
        sh_kp_P: macroSP {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp P>;
        };
        sh_kp_Q: macroSQ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp Q>;
        };
        sh_kp_R: macroSR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp R>;
        };
        sh_kp_S: macroSS {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp S>;
        };
        sh_kp_T: macroST {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp T>;
        };
        sh_kp_U: macroSU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp U>;
        };        
        sh_kp_V: macroSV {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp V>;
        };
        sh_kp_W: macroSW {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp W>;
        };
        sh_kp_X: macroSX {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp X>;
        };
        sh_kp_Y: macroSY {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp Y>;
        };
        sh_kp_Z: macroSZ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp Z>;
        };        

        sh_kp_BSLH: macroSBSLH {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LSHIFT &kp BSLH>;
        };

    };

};